
<h1>Figures</h1>

<% Figure.all.each do |figure| %>
  <a href="/figures/<%=figure.id%>"><%= figure.name %></a>
  <br><br>
<% end %>
<br>

<button type="button" name="button"><a href="/figures/new">New Figure</a></button>
